.navbar.bg-light {
    background-color: var(--olympus-navbar-primary) !important;
}

.navbar.bg-dark {
    background-color: var(--olympus-navbar-secondary) !important;
}

.navbar a{
    color: var(--olympus-color-dark) !important;
}

.navbar.bg-dark a {
    color: var(--olympus-color-clear) !important;
}

.navbar-brand img{
    width: 250px;
}

.navbar-nav .nav-link.active {
    font-weight: 600;
}

.navbar-expand-lg .flex-column.navbar-nav .nav-item {
    padding: 0.8rem;
}

.connect-wallet {
    text-transform: uppercase;
    font-weight: bolder !important;
}

.navbar .input-group-text, .navbar .form-control {
    background-color: var(--olympus-color-clear);
}

.navbar .form-control, .navbar .form-control::placeholder {
    text-align: right;
}