.containerAdmin {
    background-color: var(--olympus-adminforms-bg);
}

.containerAdmin .align-items-center {
    height: 100vh
}

.containerAdmin [type=submit]:not(:disabled), button:not(:disabled) {
    font-weight: 600;
}