.containerAuctions {
    background-image: url('./assets/auctions.jpg');
    background-color: var(--olympus-color-dark);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--olympus-color-dark);
}