.containerHome {
    background-image: url('./assets/home.jpg');
    background-color: var(--olympus-color-dark);
    background-size: cover;
    height: 100vh;
}

.backgroundMove {
    background-position: center top;
    animation: move 5s forwards;
    animation-timing-function: linear;
}

.offcanvas {
    width: var(--olympus-offcanvas-width) !important;
    background-color: var(--olympus-offcanvas-background) !important;
    color: var(--olympus-color-clear) !important;
}

.offcanvas-header {
    text-align: center;
    display: flow-root !important;
    padding: 3rem !important;
}

.offcanvas-title h4 {
    padding-top: 20px;
    font-weight: lighter;
}

.offcanvas-body .flex-column.nav {
    text-align: center;
    line-height: 5rem;
}

.offcanvas-body .flex-column.nav .nav-link, .offcanvas-body .nav .nav-link {
    padding: var(--olympus-nav-link-padding-y);
    color: var(--olympus-color-clear);
}

.offcanvas-body .flex-column.nav .nav-link h1 {
    font-weight: lighter;
}

.offcanvas-body .separator {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--olympus-color-clear);
    border: 1px solid;
}

@keyframes move {
    0% {background-position: center top;}
    50% {background-position: center;}
    100% {background-position: center bottom;}
}

@media (min-width: 576px) and (max-width: 767px){
    .offcanvas {
        width: 100% !important;
    }
}
